<mat-card style="width: 500px; margin-left: 35%">
  <form action="" [formGroup]="editForm" >
    <p>
      <mat-form-field appearance="legacy" style="margin-right: 10px">
        <mat-label>{{data.first_name}}</mat-label>
        <input matInput formControlName="first_name">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>{{data.last_name}}</mat-label>
        <input matInput formControlName="last_name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" style="margin-right: 10px">
        <mat-label>{{data.email_address}}</mat-label>
        <input matInput formControlName="email_address">
      </mat-form-field>


      <mat-form-field appearance="legacy">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" style="margin-right: 10px">
        <mat-label>Id r</mat-label>
        <input matInput type="number" min="0" formControlName="restaurant_id">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Role</mat-label>
        <input matInput type="number" min="0" formControlName="role">
      </mat-form-field>
    </p>
    <button mat-raised-button [disabled]="editForm.invalid" (click)="updateUser(data._id)" type="submit">Modifier</button>
  </form>
  <br>
  <a routerLink="/signupr">Retour page client</a>

</mat-card>
