<mat-card style="width: 200px">
  <form action="" [formGroup]="restaurantForm">
    <mat-form-field appearance="legacy">
      <mat-label>Id restaurant</mat-label>
      <input matInput type="number" min="0" formControlName="id_restaurant">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Nom du restaurant</mat-label>
      <input matInput  formControlName="restaurant_name">
    </mat-form-field>
    <br>
    <button mat-raised-button [disabled]="restaurantForm.invalid" (click)="onSubmitForm()" type="submit">Ajouter</button>
  </form>

</mat-card>

<div class="row">
  <div *ngFor="let post of restaurant$ | async" class="col-md-3">
    <mat-card  class="main-card" style="margin:10px 0; background-color: #e3e3e3">
      <mat-card-header>
        <mat-card-title>{{ post.id_restaurant }}</mat-card-title>
        <mat-card-title>{{ post.restaurant_name }}</mat-card-title>

          <mat-card-footer>
            <div>
            <button mat-mini-fab color="primary" [routerLink]="[post._id]"  style="margin-right: 5px">
              <mat-icon>edit</mat-icon>
            </button>
            <swal
              #deleteRes
              title="Supprimer le restaurant"
              text="Etes-vous sûr de vouloir supprimer {{ post.restaurant_name}}?"
              icon="warning"
              [showCancelButton]="true"
              [swalOptions]="{cancelButtonText:'Annuler', confirmButtonColor:'#f44336', confirmButtonText:'Supprimer'}"
              [focusConfirm]="true"
              [reverseButtons]="true"
              (confirm)="onDelete(post._id)">
            </swal>
            <button mat-mini-fab color="warn" [swal]="deleteRes"
                    (confirm)="onDelete(post._id)" ><mat-icon>delete</mat-icon>
            </button>

        </div>
          </mat-card-footer>


      </mat-card-header>
    </mat-card>
  </div>
</div>




