<div>
  <form [formGroup]="loginform">
    <mat-card>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email_address">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
      <button mat-raised-button [disabled]="authService.userLogged()" (click)="onLoginForm()" type="submit">Connecter</button>
    </mat-card>
    

  </form>
</div>

