<mat-toolbar color="primary">
  <a routerLink="login" style="margin-right: 10px; color: white;">Authentification</a>
  <a routerLink="api" style="margin-right: 10px; color: white;">APIADMIN</a>
  <a *ngIf="userLogged()" routerLink="signupr" style="margin-right: 10px; color: white;">signup</a>
  <a *ngIf="userLogged()" routerLink="restaurants" style="margin-right: 10px; color: white;">Restaurants</a>
  <a routerLink="livreur" style="margin-right: 10px; color: white;">Livreur</a>
  <a *ngIf="userLogged()" style="margin-right: 10px; color: white; float: right" routerLink="login" (click)="authService.signOut()"><mat-icon>power_settings_new</mat-icon></a>
</mat-toolbar>

<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>




