.card-container{

    align-items: center;
    justify-content: center;

    margin: 10em 5px;
}
.main-card{
    width: 340px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14.5px );
-webkit-backdrop-filter: blur( 14.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-left: 25%;
align-content: center;
text-align: center;


  }
/* .mat-card-header-text{

} */
