<div class="card-container">
    <mat-card *ngFor="let post of posts$ | async"  class="main-card" style="margin-bottom: 5px; width: 50%;">
    <mat-card-header>
        <mat-card-title>{{ post.id }}</mat-card-title>
        <mat-card-title>{{ post.status }}</mat-card-title>
        <mat-card-subtitle>{{ post.billing.first_name | json }},  {{ post.billing.last_name }},  {{ post.billing.address_1 | json }},  {{post.billing.city | json}} </mat-card-subtitle>
        <mat-card-subtitle>{{ post.total }}€</mat-card-subtitle>
    </mat-card-header>
    <mat-card-footer>
        <button mat-raised-button [disabled]="clicked"  (click)="accepter()" color="basic" style="margin: 5px;" value="Accepter" >Accepter</button>
        <button mat-raised-button [disabled]="clicked_2" (click)="finir()" style="margin: 5px;" color="primary" value=2 >Finir</button>
    </mat-card-footer>
    </mat-card>
</div>
<h1>Acces admin only</h1>


