<mat-card style="width: 500px; margin-left: 35%">
  <form action="" [formGroup]="signupForm" >
    <p>
    <mat-form-field appearance="legacy" style="margin-right: 10px">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="last_name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" style="margin-right: 10px">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email_address">
      </mat-form-field>


      <mat-form-field appearance="legacy">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </p>
      <p>
        <mat-form-field appearance="legacy" style="margin-right: 10px">
          <mat-label>Id restaurant</mat-label>
          <input matInput type="number" min="0" formControlName="restaurant_id">
        </mat-form-field>

       <mat-form-field appearance="legacy">
         <mat-label>Role</mat-label>
         <input matInput type="number" min="0" formControlName="role">
       </mat-form-field>
     </p>
    <button mat-raised-button [disabled]="signupForm.invalid" (click)="onSubmitForm()" type="submit">Creer</button>
  </form>

</mat-card>
<div class="row">
  <div class="col-md-4" *ngFor="let user of users$ | async">
    <mat-card  class="main-card" style="background-color: #e3e3e3; margin: 10px 0">
      <mat-card-header>
        <mat-card-title>{{ user.first_name }}, {{ user.last_name }}
          <br>{{user.email_address}}</mat-card-title>

        <mat-card-subtitle>Role : {{user.role}}</mat-card-subtitle>

        <div>
          <button mat-mini-fab color="primary" [routerLink]="[user._id]"  style="margin-right: 5px">
            <mat-icon>edit</mat-icon>
          </button>
          <swal
            #deleteRes
            title="Supprimer le profil"
            text="Etes-vous sûr de vouloir supprimer {{ user.first_name}}, {{user.last_name}}?"
            icon="warning"
            [showCancelButton]="true"
            [swalOptions]="{cancelButtonText:'Annuler', confirmButtonColor:'#f44336', confirmButtonText:'Supprimer'}"
            [focusConfirm]="true"
            [reverseButtons]="true"
            (confirm)="onDelete(user._id)">
          </swal>
          <button mat-mini-fab color="warn" [swal]="deleteRes"
                  (confirm)="onDelete(user._id)" ><mat-icon>delete</mat-icon>
          </button>
        </div>

      </mat-card-header>
    </mat-card>
  </div>
</div>


